
.ButtonGroup {
  padding: 4px 2px;
  border: 1px solid;
  border-radius: 3px;
  color: #adadad;
  margin-bottom: var(--quarter-tile-width);

  .Title {
    font-size: 14px;
    font-weight: normal;
    color: white;
    margin: 4px 0;
    padding: 2px;
    border-bottom: 1px solid #adadad
  }

  .Button {
    width: 100%;
    margin-bottom: calc(var(--quarter-tile-width)/2);
  }
}

.ButtonGroup button:last-child {
  margin-bottom: 0;
}

.Button {
  padding: 2px;
  border: 1px solid;
  border-radius: 3px;
  background: none;
  color: #adadad;
  margin-bottom: var(--quarter-tile-width);
}
.Button:active {
  color: white;
  background-color: #007acc;
}
.Button:focus {
  outline: none;
}

Button.Selected {
  color: #003080;
  background-color: #007acc;
}
