.ControlBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;
  background-color: #333;
  height: 100%;
  box-sizing: border-box;
}

.Save {
  color: #eee;
  background-color: green;
}
