.Map {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: var(--quarter-tile-width) auto;
  grid-template-rows: var(--quarter-tile-width) auto;
}

.MapContent {
  overflow: scroll;
  grid-column-start: 2;
  grid-row-start: 2;
}

.MapContentInnerContainer {
  position: relative;
  width: calc(var(--tiles-wide)*var(--tile-width));
  height: calc(var(--tiles-tall)*var(--tile-width));
}

.MapBorder {
  background-color: rgba(136, 136, 136, 0.8);
  // z-index: 2;
}

.MapBorder {
  overflow: hidden;
}

.MapBorder.Horizontal {
  grid-column-start: 2;
  white-space: nowrap;
  overflow-y: scroll;

  .MapBorderContainer {
    position: relative;
    width: calc(var(--tiles-wide)*var(--tile-width));
  }
}

.MapBorder.Vertical {
  grid-column-start: 1;
  grid-row-start: 2;
  overflow-x: scroll;

  .MapBorderContainer {
    position: relative;
    height: calc(var(--tiles-tall)*var(--tile-width));
  }
}

// TODO get this working
// .MapBorder::-webkit-scrollbar-button {
//   width: 0px;
//   height: 0px;
//   display: none;
// }

.ToggleButton {
  background-color: rgba(136, 136, 136, 0.8);
  border: 1px solid;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
}
.ToggleButton:focus {
  outline: none;
}

.Tile {
  position: absolute;
  display: inline-block;
  border: 1px solid;
  box-sizing: border-box;
}

.Horizontal .Tile {
  width: var(--tile-width);
  height: var(--quarter-tile-width);
}

.Vertical .Tile {
  width: var(--quarter-tile-width);
  height: var(--tile-width);
}
