.Tile {
  display: inline-grid;
  grid-template-columns: var(--sub-tile-width) var(--sub-tile-width) var(--sub-tile-width);
  grid-template-rows: var(--sub-tile-width) var(--sub-tile-width) var(--sub-tile-width);

  overflow: hidden;
  width: var(--tile-width);
  box-sizing: border-box;
  border: 1px dashed;
}

.Tile.Highlighted {
  border: 1px solid white;
}
.Tile.Selected {
  background-color: #007acc;
}

.New {
  z-index: 0;
}
.New.Corner {
  box-shadow: 0 0 0 var(--sub-tile-width) green;
}
.New.Straight {
  background-color: green;
}

.ActiveExit {
  z-index: 1;

}
.ActiveExit.Corner {
  box-shadow: 0 0 0 var(--sub-tile-width) black;
}
.ActiveExit.Straight {
  background-color: black;
}

.Deleting {
  z-index: 1;
}
.Deleting.Corner {
  box-shadow: 0 0 0 var(--sub-tile-width) darkRed;
}
.Deleting.Straight {
  background-color: darkRed;
}

.Corner {
  box-shadow: 0 0 0 var(--sub-tile-width) grey;
}
// .Corner:hover {
//   box-shadow: 0 0 0 var(--sub-tile-width) red;
//   z-index: 2;
// }

.Straight {
  background-color: grey;
}
// .Straight:hover {
//   background-color: red;
//   z-index: 2;
// }

.LeftTop {
  @extend .Corner;
  grid-column-start: 1;
  grid-row-start: 1;
  border-bottom-right-radius: var(--sub-tile-width);
}

.LeftRight {
  @extend .Straight;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
}

.LeftBottom {
  @extend .Corner;
  grid-column-start: 1;
  grid-row-start: 3;
  border-top-right-radius: var(--sub-tile-width);
}

.TopBottom {
  @extend .Straight;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.TopRight {
  @extend .Corner;
  grid-column-start: 3;
  grid-row-start: 1;
  border-bottom-left-radius: var(--sub-tile-width);
}

.RightBottom {
  @extend .Corner;
  grid-column-start: 3;
  grid-row-start: 3;
  border-top-left-radius: var(--sub-tile-width);
}