$tileWidth: 40px;

.Tile {
  display: inline-grid;
  grid-template-columns: $tileWidth $tileWidth $tileWidth;
  grid-template-rows: $tileWidth $tileWidth $tileWidth;

  overflow: hidden;
  width: 3*$tileWidth;
  box-sizing: border-box;
  border: 1px dashed;
}

.ActiveExit {
  z-index: 1;

}
.ActiveExit.Corner {
  box-shadow: 0 0 0 $tileWidth black;
}
.ActiveExit.Straight {
  background-color: black;
}

.Corner {
  box-shadow: 0 0 0 $tileWidth grey;
}
// .Corner:hover {
//   box-shadow: 0 0 0 $tileWidth red;
//   z-index: 2;
// }

.Straight {
  background-color: grey;
}
// .Straight:hover {
//   background-color: red;
//   z-index: 2;
// }

.LeftTop {
  @extend .Corner;
  grid-column-start: 1;
  grid-row-start: 1;
  border-bottom-right-radius: $tileWidth;
}

.LeftRight {
  @extend .Straight;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
}

.LeftBottom {
  @extend .Corner;
  grid-column-start: 1;
  grid-row-start: 3;
  border-top-right-radius: $tileWidth;
}

.TopBottom {
  @extend .Straight;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.TopRight {
  @extend .Corner;
  grid-column-start: 3;
  grid-row-start: 1;
  border-bottom-left-radius: $tileWidth;
}

.RightBottom {
  @extend .Corner;
  grid-column-start: 3;
  grid-row-start: 3;
  border-top-left-radius: $tileWidth;
}