.TopBorder {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.Tile {
  display: inline-block;
  width: var(--tile-width);
  max-height: var(--tile-width);
  border: 1px solid;
  box-sizing: border-box;
}