.ImageEditor {
  display: flex;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  width: var(--viewport-width);
  height: var(--viewport-height);
  --control-bar-width: 160px;
}

.ControlBarContainer {
  width: var(--control-bar-width);
  height: 100%;
}